<%= form_for(mashup) do |f| %>
  <% if mashup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mashup.errors.count, "error") %> prohibited this mashup from being saved:</h2>

      <ul>
      <% mashup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mashup_text %>
    <%= f.text_field :mashup_text %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
