<p id="notice"><%= notice %></p>

<h1>Mashups</h1>

<table>
  <tr>
    <td>
      <%= button_to "Generate New Mashups", {:controller => "mashups", :action => "generate_new_mashups"}, :method=>:put %>
    </td>
    <td>
      <%= button_to "Clear Non-Queued Mashups", {:controller => "mashups", :action => "clear_unqueued_mashups"}, :method=>:post %>
    </td>
    <td>
      <%= button_to "Clear All Mashups", {:controller => "mashups", :action => "clear_all_mashups"}, :method=>:post %>
    </td>
  </tr>  
</table>


<table>
  <thead>
    <tr>
      <th>Mashup Text</th>
      <th>tweet?</th>
      <th>tweeted?</th>
      <th width="68px"></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mashups.sort_by{|mash| mash.mashup_text.length }.each do |mashup| %>
      <tr>
        <td><%= mashup.mashup_text %></td>
        <td><%= mashup.tweet? %></td>
        <td><%= mashup.tweeted? %></td>
        <td><%= link_to 'Tweet It!', {:controller => "mashups", :action => "set_tweet_to_true", :id => mashup.id}, :method=>:put %></td>
        <td><%= link_to 'Show', mashup %></td>
        <td><%= link_to 'Edit', edit_mashup_path(mashup) %></td>
        <td><%= link_to 'Destroy', mashup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mashup', new_mashup_path %>
